<!--<html>

<body>
    <ul>
        {% for order in orders %}
        <li>{{ order.id}} - {{ order.customer.first_name }}- {{ order.placed_at }}</li>
        {% endfor %}
    </ul>
</body>

</html>-->

<!-- /*   First Question (Annotate) -->

<!-- <html>
    <body>
        <h1>Exercise Solution 1</h1>
        <ul>
            {% for customer in customers %}
            <li>{{ customer.first_name }} - {{ customer.last_order_id }}</li>
            {% endfor %}
        </ul>
    </body>
</html> -->

<!--    Second Question(Annotate)   -->

<!-- <html>
    <body>
        <h1> Exercise number 2 </h1>
        <ul>
            {% for item in result%}
            <li> {{ item.title }} - {{item.products_count}} </li>
            {% endfor %}
        </ul>
    </body>
</html> -->

<!--    Third QUestion (Annotate)-->

<!-- <html>
    <body>
        <ul>
            <h2> Customer Name - Number of Orders </h2>
            {% for customer in result%}
            
            <li> {{customer.first_name}} - {{customer.orders_count}} </li>
            {% endfor%}
        </ul>
    </body>
</html> -->

<!-- Fourth Queston (Annotate)-->

<!-- 
<html>
    <body>
        <ul>
            <h2> Customer Name - Amount Spent </h2>
            {% for customer in result%}
            <li> {{ customer.first_name}} - {{customer.total_amount}} </li>
            {% endfor %}
        </ul>
    </body>
</html> -->

<!-- Fifth Question (Annotate)-->
<!-- 
<html>
    <body>
        <ul>
            <h2> Product - Total Sale </h2>
            {% for product in result %}
            <li> {{ product.title}} - {{ product.total_sales}} </li>
            {% endfor %}
        </ul>
    </body>
</html> -->


